* {
    font-family: Century;
    text-align: center;
}

header {
    background-color: indigo;
    color: #fff;
    font-style: italic;
    padding: 2px;
}

footer {    
    background-color: indigo;
    color: #fff;
    font-style: italic;
    padding: 2px;
    clear: both;
}

.block1 {
    width: 50%;
    height: 470px;
    float: left;
}

.block2 {
    width: 50%;
    height: 470px;
    float: left;
}

.block3 {
    width: 50%;
    height: 470px;
    float: left;
}

.block4 {
    width: 50%;
    height: 470px;
    float: left;
}

img {
    padding: 3px;
    margin: 10px;
    border: dashed 2px slateblue;
}

a {
    color: #fff;
}

input[type='button'] {
    background-color: slateblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

input[type='button']:hover {
    background-color: indigo;
}

input[type='range'] {
    width: 80%;
}