* {
    font-family: Helvetica;
}

header {
    background-color: saddlebrown;
    color: #fff;
    text-align: center;
    padding: 7px;
}

footer {
    background-color: saddlebrown;
    color: #fff;
    text-align: center;
    padding: 7px;
}

.menu {
    background-color: peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
    float: left;
}

.master {
    width: 80%;
    height: 700px;
    font-size: 120%;
    overflow: auto;
}

.right {
    background-color: peru;
    color: #fff;
    width: 20%;
    height: 760px;
    float: right;
}

a {
    color: #ddd;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

img {
    float: left;
    margin: 30px;
}
