* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background-color: #BA6B6C;
    color: #fff;
    padding: 7px;
}

footer {
    background-color: #BA6B6C;
    color: #fff;
    padding: 7px;
}

.leftBlock {
    background-color: #ef9a9a;
    width: 20%;
    height: 500px;
    float: left;
}

.rightBlock {
    background-color: #ef9a9a;
    width: 20%;
    height: 500px;
    float: left;
}

.mainBlock {
    background-color: mistyrose;
    width: 60%;
    height: 500px;
    float: left;
}

.data {
    background-color: mistyrose;
    padding: 50px;
}

ol {
    list-style-type: upper-roman;
}

li {
    text-align: left;
}

h2::first-letter {
    font-size: 170%;
    color: maroon;
}

table {
    margin: auto;
    width: 80%;
    border: solid 1px maroon;
}

img {
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px dimgray;
}